{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giỏ sách - Thư viện PTIT</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'thuvien/css/common.css' %}">
    <link rel="stylesheet" href="{% static 'thuvien/css/homepage.css' %}">
    <link rel="stylesheet" href="{% static 'thuvien/css/cart.css' %}">
</head>

<body>
    <header>
        <div class="row">
            <div>
                <h2 class="siteName">PTIT Library</h2>
            </div>
            <div class="user">
                <div onclick="viewCart()" class="cart">
                        <span class="material-icons-round">shopping_cart</span>
                        <span class="count">0</span>
                </div>
                <div class="userIcon" onclick="userMenuToggle()">
                    <span class="material-icons-round icon">account_circle</span>
                    <span>{{ user.ten }}</span>
                </div>
                <div class="userMenu">
                    <ul>
                        <li><a href="/account">Tài khoản</a></li>
                        <li><a href="/history">Lịch sử mượn</a></li>
                        <li><a href="/logout">Đăng xuất</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="body">

        <div class="checkout-area">
            <div class="row">
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th>Mã sách</th>
                                <th>Tên sách</th>
                                <th>Số lượng</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>

                <div class="form">
                    <div class="form-element">
                        <label>Ngày trả</label>
                        <input id="ngayTra" type="date" name="ngayTra" />
                    </div>
                    <div class="form-element buttons">
                        <button id="btnSubmit" class="btn btn-block">Tạo thẻ mượn</button>
                    </div>
                </div>
            </div>

    
        </div>

    </div>

    <script src="{% static 'thuvien/js/theme.js' %}"></script>
    <script src="{% static 'thuvien/js/core.js' %}"></script>
    <script src="{% static 'thuvien/js/cart.js' %}"></script>
</body>

</html>